body{
      font-family: "Roboto", sans-serif; 
      background-color: #ffffff;
}

.bg-orange {
    background-color: #FF6F00;
}

.text-orange {
    color: #FF6F00;
}

.bg-secondary {
    background-color: #0D1B2A;
}

.text-secondary {
    color: #0D1B2A;
}

.back {
    color: white;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(203, 201, 201);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.back:hover {
    background-color: rgb(182, 180, 180);
    transform: scale(1.1);
}

.wishlist {
    border: 1px solid gray;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.wishlist:hover {
    background-color: #FF6F00;
    color: white !important;
    transform: scale(1.1);
}

.add-to-cart {
    border: 1px solid gray;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-to-cart:hover {
    background-color: #FF6F00;
    color: white !important;
    transform: scale(1.1);
}

.size {
    padding-inline: 15px;
    padding-block: 5px;
    background-color: #d1cdcb;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.size:hover {
    background-color: #FF6F00;
    color: white !important;
    transform: scale(1.1);
}   
.amount{
    border: 1px solid gray;
    border-radius: 5px;
    padding-inline: 15px;
    padding-block: 5px;
    width: fit-content;
    transition: all 0.3s ease;
}